/**
 * Main
 * This is the main SCSS file for the site's stylesheet
 * @main
 */
/**
 * Base
 */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

img {
  max-width: 100%;
  height: auto; }
  img.img-demo {
    display: block;
    margin: 0 auto 30px; }

.align-center {
  margin-left: auto;
  margin-right: auto; }

.flex-video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative; }
  .flex-video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }

footer {
  color: #999;
  padding: 30px 0; }
  footer a {
    color: #999; }

/**
 * Featurette
 */
.featurette {
  background-color: transparent;
  padding: 30px 0;
  border-bottom: 1px solid #eee; }
  .featurette.branded {
    background-color: #604388;
    color: #fff;
    border: none; }
  .featurette.tall-fix {
    height: 32em; }
  .featurette .big-link-container {
    text-align: center;
    margin-bottom: 30px; }
    .featurette .big-link-container .big-link {
      border: 1px solid #fff;
      color: #fff;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      padding: 15px 30px;
      font-weight: bold;
      display: inline-block;
      margin: 0 auto;
      text-decoration: none; }
      .featurette .big-link-container .big-link:hover {
        background: #fff;
        color: #604388;
        text-decoration: none; }
  .featurette .featurette-title {
    margin-top: 0; }
  .featurette .lead {
    font-size: 1.4em;
    font-weight: 400; }

/**
 * Featurette
 */
.featurette.intro {
  padding: 60px 15px; }
  .featurette.intro .lil-b-logo {
    border: 2px solid #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    width: 200px;
    display: block;
    overflow: hidden;
    margin: 0 auto 30px; }
    .featurette.intro .lil-b-logo img {
      width: 100%;
      height: auto; }
  .featurette.intro .lead {
    font-size: 1.8em;
    line-height: 1.15em;
    font-weight: 200;
    margin: 0 auto 1.5em; }
    .featurette.intro .lead strong {
      font-weight: 600; }
    .featurette.intro .lead.introduction a {
      color: #fff; }
  .featurette.intro .version {
    color: #9783b9; }
  .featurette.intro .h3 {
    font-weight: 400; }

/**
 * Examples
 */
.example {
  margin-bottom: 30px; }

.example-label {
  color: #999; }

/**
 * Default Bootstrap
 */
.default-bootstrap {
  line-height: 1.42857; }
  .default-bootstrap h2, .default-bootstrap h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1; }
  .default-bootstrap h2 {
    font-size: 30px;
    line-height: 1.1; }
  .default-bootstrap h3 {
    font-size: 24px;
    line-height: 1.1; }
  .default-bootstrap .lead {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 20px; }
  .default-bootstrap p {
    margin: 0 0 10px; }

#adjust-text-demo .default-bootstrap {
  line-height: 1.42857; }
#adjust-text-demo .bootstrap-lil-b {
  line-height: 1.65em; }

/**
 * Desktop
 * Base
 * @responsive
 */
@media (min-width: 992px) {
  /**
 * Featurette
 * Desktop
 * @responsive
 */
  /**
 * Featurette Intro
 * Desktop
 * @responsive
 */
  .featurette {
    padding: 60px 30px; }
    .featurette .featurette-title {
      font-size: 2.8em; }
  .featurette.intro {
    padding: 90px 30px; }
    .featurette.intro .lead {
      font-size: 2.4em;
      line-height: 1.15em;
      width: 80%; } }
